body{
    margin: 0px;
}

button{
    color: white;
    background-color: #FF5A00;
    font-size: 18px;
    padding: 20px;

    border: 2px solid white;
    border-radius: 5px;

    cursor: pointer;
}

.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
}

.subsection{
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
    margin: 30px;
}

.align-left{
    align-items: flex-start;
    text-align: left;
}

.align-right{
    align-items: flex-end;
    text-align: right;
}

.am-title{
    width: auto;
    margin: 0px;
    font-size: 32px;
}

.am-description{
    width: 45vw;
    text-align: inherit;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.am-thumbnail{
    height: 360px;
    width: 360px;
    border-radius: 100%;
    object-fit: cover;
}

.am-button{
    margin-top: 20px;
}

.about{
    background-color: #194755;
    flex-direction: row;
    text-align: left;
}

.flip{
    flex-direction: row-reverse;
}

/* Center text when not next to the img */
@media (max-width: 1125px) {
    .about{
        text-align: center;
    }

    .align-left{
        text-align: center;
        align-items: center;
    }
    
    .align-right{
        text-align: center;
        align-items: center;
    }
}