.window{
    background-color: violet;
    height: 100%;
    width: 100%;
}

.proj-1{
    background-color: #194755;
    flex-direction: row;
}

.proj-2{
    background-color: #28738A;
    flex-direction: row-reverse;
}

.proj-thumbnail{
    height: 360px;
    width: 540px;
    object-fit: cover;
    border-radius: 15px;
}

h1{
    margin: 0px;
    text-decoration: underline;
}

p{
    font-size: 20;
    margin: 0px;
    margin-top: 25px;
    width: 40vw;
    word-wrap: normal;
}

button{
    margin-top: 45px;
}