
body {
    margin: 0px;
    background-color: #003f66;
}

h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 48px;

    color: white;
    background-color: #FF8233;

    text-align: center;
    margin: 0px;
    padding: 10px;

    width: 50vw;
    height: fit-content;

    border-radius: 15px;
}

h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: white;

    text-align: center;

    padding: 15vw;
    padding-top: 0px;
    padding-bottom: 10px;

}

h4 {
    font-family: 'Kanit', sans-serif;
    font-size: 32px;
    font-weight: 200;
    color: white;

    text-align: center;

    padding: 15vw;
    padding-top: 0px;
    padding-bottom: 0px;

}

h5 {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: white;

    text-align: center;

    padding: 15vw;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -10px;
    margin-bottom: -20px;
}

hr {
    margin-top: -30px;
    margin-bottom: 15px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.logo {
    width: 25vw;
    height: auto;

    padding: 10px;
    padding-left: 10px;

    margin-bottom: 10px;
    margin-top: 0.25%;
}

.logoContainer {
    background-color: #FF8233;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    
    border: #FF8233 5px solid;

    width: 50vw;
    transform: translateX(25vw);

    display: flex;
    justify-content: center;
}

.projectTitle {
    width: auto;
    display: flex;
    justify-content: center;

    margin-bottom: -2.5%;

    z-index: 1;
    position: relative;
    transform: translateY(-50%); 
}

.video {
    width: 80%;
    height: auto;
    
    margin-top: 35px;
    margin-bottom: -2.5px;
    z-index: 0;
    transform: translateX(10%);/* 50% - (width / 2) */

    border: white 5px solid;
    border-radius: 15px;
    /*border-bottom: white 5px solid;*/
}

.button {
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    text-align: center;
    text-decoration: none;

    color: white;
    background-color: #FF8233;
    
    margin: 0px;
    margin-bottom: 120px;
    padding: 10px;

    padding-left: 25px;
    padding-right: 25px;

    border-radius: 15px;
}

.buttonContainer{
    width: auto;
    display: flex;
    justify-content: center;
}

.external {
    display: flex;
    justify-content: center;

    margin-top: 0px;
}

.icon {
    padding: 1.5vw;
    width: 100px;
}

.icon:hover {
    width: 110px;
}